
*{
   font-family: 'InfinitySans-RegularA1';
}

.container{
   width: 1000px;
   margin: 0 auto;
}

nav {
   margin: 0 auto;
}

.basketInfo{
   margin-top: 25px;
}

header .nowGrade{
   width:30%;
   font-size: 30px;
}

.deliveryInfo{
   margin-top: 30px;
   font-size: 30px;
}

#numberChange{
   border: 1px solid black;
}

.basketHeader{
   border-bottom: 1px solid black;
   margin: 200px auto 10px auto;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.productImgBox{
   width: 140px;
   height: 130px;
}

.productImg{
   width: 130px;
   height: 130px;
}


header .grade{
   width:34%;
   font-size: 20px;
   line-height: 40px;
}

header .nowGrade span, header .basketProduct span, .lastPrice span, .grade .thisGrade, .basketNumber, .twoRd, #twoRdSimbol{
   color: #FF2222;
}

.oneRd, #oneRdSimbol, .threeRd, .productPrice span{
   color: #666;
}

nav{
   width: 100%;
}

table{
   border: solid black 1px;
   border-collapse : collapse;
   width: 100%;
   height: 100px;
   margin: 0 auto;
}
.basketAttribute th, .basketAttribute tr td, .basketAttribute tr td span{
   vertical-align: middle;
}

.basketAttribute{
   background-color: #B8E994;
}

.basketAttribute, .basketProduct{
   border: solid black 1px;
}

.basketProduct{
   width: 500px;
   text-align: center;
}

.check{
   width: 20px;
   height: 30px;
}

th:first-child{
   width: 15%;
}

.del{
   margin: 12px 0 0 43px;
   height: 30.49px;
   color: #666;
   background-color: white;
   border: 1px solid #666;
}

.productName{
   margin-top: 1.5%;
   font-size: 20px;
   text-align: left;
}

.productCount{
   font-size: 10px;
   
   display: flex;
   margin-top: 10px;
   justify-content: space-between;
}
.productCount div, .product{
   color: #666;
}

.productCountEdit{
   height: 20px;
   margin-bottom: 5px;
   font-size: 15px;
}

.delList{
   display: flex;
}

.coment{
   width: 100%;
   text-align: right;
   color: #666;
   font-size: 15px;
   margin-top: 10px;
}

.allPriceTable{
   margin-top: 30px;
   background-color: #F9F9F9;
   border: none;
   height: 100px;
   padding: 20px;
   vertical-align: middle;
}

.allPriceTable ul{
   display: flex;
   list-style: none;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
}

.allPriceTable ul li div:first-child{
   padding-bottom: 5px;
}

#footer{
   text-align: center;
}
.select{
   width: 20%;
   height: 20%;
   border: 1px solid black;
}

.buttonList{
   margin: 20px;
}

.shopping, .order{
   font-size: 18px;
   width: 500px;
   height: 60px;
}

.payOkButton{
   border-top: 1px solid #666;
   margin-top: 20px;
   display: flex;
   justify-content: center;
}

.order{
   
   margin-top: 20px;
   background-color:#B11116;
   border: 0;
   color: white;
}

.deliveryMark{
   display: flex;
}

.infoinfo{
   font-size: 30px;
   padding-top: 80px;
   padding-bottom: 15px;
}

#deliveryInfo{
   width : 100%;
   height: 529px;
}

#deliveryInfoInput table{
   margin-top: 20px;
   border: none;
}

#deliveryInfoInput table tr td:first-child{
   width: 91px;
   height: 59px;
   color: #666;
}

.inputName td:nth-child(2), .inputPassword td:nth-child(2){
   width: 200px;
}

.inputName td:nth-child(2) .textBox,
.inputPassword td:nth-child(2) .textBox,
.inputPhoneNumber td:nth-child(2) .textBox,
.inputEmail td:nth-child(2) .textBox,
.inputAddress td:nth-child(2) .textBox
  {
   width: 90%;
   height: 30px;
}

.inputPassword td:nth-child(3){
   color: #666;
   font-size: 13px;
}

.inputPhoneNumber td:nth-child(3){
   width: 142px;
   color: #666;
   text-align: center;
}

.inputPhoneNumber td:nth-child(4) .textBox{
   width: 200px;  
   height: 30px;
}

.inputAddress .addressCode{
   width: 117px;
   height: 43px;
   color: #FF2222;
   background-color: white;
   border: 1px solid #FF2222;
}

.inputAddress2 .textBox, .inputAddress3 .textBox, .inputAddress4 .textBox{
   width: 869px;
   height: 30px;
}

#addressCode{
   color: #666;
}

.memo_area{
   width : 877px;
   height:36px;
}

.inputAddress3{
   border-bottom: #666;
}

.allPriceTable ul li div{
   text-align: center;
}

.allPrice .allPriceTable{
   margin-top: 100px;
}

.paymentTable table, .payOKTable table{
   margin-top: 10px;
   border: none;
}

.paymentTable th, .payOKTable th{
   color: #666;
   font-size: 18px;
}

.payOk{
   margin-top: 1px solid black;
}
