.product {
   text-align: center;
   padding: 50px;
   font-size: 40px;
}

#product-recom {
   text-align: center;
}

#product-recom > a >img {
   width: 200px;
   margin-right: 50px;
}

#product-recom > img:nth-child(1) {
   margin-left: 30px;
}

#product-new {
   text-align: center;
}

#product-new > a > img {
   width: 200px;
   margin-right: 50px;
   margin-bottom: 50px;
}

#product-new > img:nth-child(1) {
   width:200px;
   height: 200px;
   margin-left: 30px;
}

#product-new > img:nth-child(2) {
   width: 200px;
   height: 200px;
}

#product-new > img:nth-child(3) {
   width: 200px;
   height: 200px;
}


.product-list {
   width: 1000px;
   height: 2500px;
   /* background-color: lightblue; */
   margin: 0 auto;
    
}

.product-list > .product-box {
   width: 25%;
   height: 450px;
   /* background-color: cornflowerblue; */
   padding: 20px;
   box-sizing: border-box;
}

.product-list > .product-box > .item_box_img_area > a > img {
   width: 100%;
}




.d_m > .milage > div{
   margin-right: 80px;
   text-align: left;
   color: red;
}


.price {
   text-align: left;
}

/* 라이브러리 */
.cell {
   float: left;
}

.row::after {
   display: block;
   content: "";
   clear: both;
}

#product-num {
      width: 1000px;
      height: 50px;
      margin: 0 auto;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
}

.menu-list {
   margin-top: 6px;
   width: 200px;
   padding: .8em .5em;
   border: 1px solid #999;
   font-family: inherit;
   background: url('../images/menulist-arrow.jpg') no-repeat 95% 50%;
   border-radius: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.menu-list::-ms-expand {
   display: none;
}


/* productDetail.html */

.itemContentBox {
   width:1000px; margin:0 auto;
}

.itemContentBox > img {
   width:480px; height: 480px; border-radius:5px;
}

.itemContentBox > .info {
  text-align:center; 
  padding:24px 0 0 ;
}

.itemContentBox > ul {
   display:inline-block;
}


.info > span {
   font-size:16px;
   font-family: 'Tahoma', sans-serif;
}

.info span.reviews {
   font-size: 15px;
   color:#333;
   padding: 0 0 0 10px;
}

.info span.reviews span {
   color: #b11116; 
   border-bottom: 1px solid #b11116; 
   margin:0 0 0 4px;
}




.delivery {
   color: red;
}

.orderItemTitle {
   font-size: 32px;
   list-style:
}
