*{
   font-family: 'InfinitySans-RegularA1';
}

.container{
   width: 1000px;
   margin: 0 auto;
}

#content{
   margin-top: 30px;
}


header .nowGrade{
   width:30%;
   font-size: 30px;
}


.productImgBox{
   width: 140px;
   height: 130px;
}

.productImg{
   width: 130px;
   height: 130px;
}


header .grade{
   width:34%;
   font-size: 20px;
   line-height: 40px;
}

header .nowGrade span, header .basketProduct span, .lastPrice span, .grade .thisGrade, .oneRd, #oneRdSimbol, .basketNumber{
   color: red;
}


.twoRd, #twoRdSimbol, .threeRd, .productPrice span {
   color: #666;
}

nav{
   width: 100%;
}

table{
   border: solid black 1px;
   border-collapse : collapse;
   width: 100%;
   height: 100px;
   margin: 0 auto;
}
.basketAttribute th, .basketAttribute tr td, .basketAttribute tr td span{
   vertical-align: middle;
}

.basketAttribute{
   background-color: #B8E994;
}

.basketAttribute, .basketProduct{
   border: solid black 1px;
}

.basketProduct{
   width: 500px;
   text-align: center;
}

.check, .checkAll{
   width: 20px;
   height: 30px;
}

th:first-child{
   width: 15%;
}

.del{
   margin: 12px 0 0 43px;
   height: 30.49px;
   color: #666;
   background-color: white;
   border: 1px solid #666;
}

.productName{
   margin-top: 1.5%;
   font-size: 20px;
   text-align: left;
}


.productCount{
   font-size: 10px;
   
   display: flex;
   margin-top: 10px;
   justify-content: space-between;
}


.productCount div, .product{
   color: #666;
}

.productCountEdit{
   display: flex;
   align-items: center;
}

.itemMinus, .itemPlus{
   cursor: pointer;
}

.coment{
   width: 100%;
   text-align: right;
   color: #666;
   font-size: 15px;
   margin-top: 10px;
}

#result{
   width: 30px;
   height: 30px;
   color: #666666;
   border: none;
   line-height: 30px;
   background:none;
   text-align: center;
}

.allPriceTable{
   margin-top: 30px;
   background-color: #F9F9F9;
   border: none;
   height: 100px;
   vertical-align: middle;
}

.allPriceTable ul{
   display: flex;
   list-style: none;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
}
.allPriceTable ul li div:first-child{
   padding-bottom: 5px;
}



#footer{
   text-align: center;
}
.select{
   width: 20%;
   height: 20%;
   border: 1px solid black;
}

.buttonList{
   margin: 20px;
}

.shopping, .order{
   font-size: 18px;
   width: 220px;
   height: 60px;
}

.shopping{
   margin-right: 30px;
   background-color: white;
   color: #B11116;
   border: 1px solid #B11116;
   box-sizing: border-box;
}

.order{
   background-color:#B11116;
   border: 0;
   color: white;
}