/* 기본설정 */
html{
    font-size: 16px;
    font-family: 'InfinitySans-RegularA1';
    /* scroll-behavior:smooth; */
}

#inc-header .header, #inc-header .nav{
    width: 100%;
    max-width: 1000px;
    height: 120px;
    margin: 0 auto;
}
#inc-header .nav{height: 54px;}

#inc-header header{
    width: 1000px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inc-header header > *{
    display: flex;
    align-items: center;
}

#inc-header #logo{
    width: 20%;
    text-align: left;

    font-size: 2.5rem;
    font-family: '116watermelon';
    font-style: italic;
    /* text-shadow: 0px 0px 2px rgb(58, 58, 58); */
}
#inc-header #logo img{
    width: 25%;
    margin: 0;
    color: green;
}
#inc-header #logo #first{
    color: #eb2f06;
}

#inc-header #search{
    width: 35%;
    height: 40px;
    padding: 0 15px 0 15px ;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #f8f8f8;
}
#inc-header #search input{
    width: 80%;
    height: 38px;
    border:0;
    background-color: #f8f8f8;
    margin-left: 0;
    /* height: 40px;
    padding: 0 15px 0 15px ;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #f8f8f8; */
}
#inc-header #search input:focus {outline:none;}

#inc-header #menu{
    width: 26%;
    height: 50px;
    text-align: center;
    font-size: 0.75rem;
}
#inc-header .line_ccc{
    width: 100%;
    border-top: 1px solid #ccc;
}
#inc-header .line_black{width: 100%; border-top: 1px solid #333;}
#inc-header nav{
    width: 1000px;
    height: 54px;

    text-align: center;
    line-height: 54px;
    display: flex;
    
}
#inc-header nav > .side{
    width: 18%;
}
#inc-header nav > .main-nav{
    width: 16%;
    
}
#inc-header nav > div:first-child{
    border-right: 1px solid #ccc;
    text-align: left;
}
#inc-header nav > div:last-child{
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid #ccc;
    font-size: 1.8rem;
}


/* 드롭다운 카테고리 메뉴 */
#inc-header #drop-category{
    display:none;
    z-index: 10000;
    position: relative;
    width: 180px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
#inc-header #drop-category li{
    text-align: center;
    text-decoration: none;
    color: rgb(250, 250, 250);
    list-style: none;
    font-size: 1rem;
    cursor: pointer;
}
#inc-header #drop-category li:first-child{
    padding-top: 15px;
}
#inc-header #drop-category li:last-child{
    padding-bottom: 15px;
}
#inc-header nav > div:first-child:hover #drop-category{
    display: block;
}


/* location */
#inc-location{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#inc-location div:first-child{
    font-size: 1.875rem; 
}
#inc-location div:last-child{
    font-size: 1rem; 
}


