table thead th{
    vertical-align: middle;
}
table tbody tr td{
    line-height: 1.4rem;
}
table {
    width: 100%;
    border: 2px solid #333333;
    text-align: center;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-right: 0;
    border-left: 0;
}
td,th {
    padding: 10px;
    border: 1px solid #333333;
}
td:first-child, td:last-child,th:first-child, th:last-child {
    padding: 10px;
    border: 1px solid #333333;
    border-right: 0;
    border-left: 0;
}
th{background-color: #ccc;}


#user-info{
    width: 100%;
    height: 540px;


    padding-top: 30px;
    padding-bottom: 50px;
    border: 2px solid #333333;
    border-bottom: 0;
    box-sizing: border-box;
}
#title{
    font-size: 1.6rem;
    margin-bottom: 20px;
    margin-left: 20px;
}
#user-info > div:last-child{
    display: flex;
    padding: 20px;
}
#left{width: 70%; height: 400px;}
#right{width: 30%; height: 400px; border-left: 1px solid black;}
.subtitle{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.line{
    width: 65%;
    height: 15px;
    border-bottom: 1px solid black;
}

#row1{
    display: flex;
    justify-content: space-between;
}
#row1 > div{
    width: 48%;
    height: 250px;
}
.account-info{
    display: flex;
    margin-bottom: 20px;
}
.account-info > div:first-child{
    width: 70px;
    text-align: right;
    margin-right: 5px;
}
#row2 > div:first-child > div{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#row2 > div:first-child > div > div{
    width: 82%;
}

#right > .account-info:nth-child(3){
    margin-bottom: 0;
}
#right > div > .line{
    width: 30%;
}
#right > .line{
    width: 80%;
    margin-left: 20px;
    margin-bottom: 10px;
    border-bottom: dotted;
}
#right > .account-info:nth-child(5){
    margin-bottom: 80px;
}
#right .account-info div:first-child{
    width: 120px;
    margin-left: 30px;
}


/* 두번쨰 단 */
#user-recode{
    width: 100%;
    /* height: 500px; */
    /* background-color: wheat; */
}
#user-recode > div:nth-child(2){
    padding: 50px 0;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    background-color: whitesmoke;
}
#recode-menu > div:nth-child(3){
    border-right: 2px solid #333333;
    box-sizing: border-box;

}
#recode-menu{
    border-bottom: 0;
    display: flex;
}
#recode-menu div{
    width: 33.4%;
    height: 40px;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
    
}
#recode-menu > div{
    cursor: pointer;
}
.not-menu{
    border-bottom: 2px solid rgb(65, 65, 65);
    box-sizing: border-box;
    background-color: white;
}
#now-menu{
    border-top: 2px solid rgb(65, 65, 65);
    border-right: 2px solid rgb(65, 65, 65);
    border-left: 2px solid rgb(65, 65, 65);
    box-sizing: border-box;
    background-color: whitesmoke;
}
#paging{
    text-align: center;
    padding-bottom: 50px;
    border: 2px solid rgb(65, 65, 65);
    border-top:0;
    background-color: whitesmoke;
}
